.button,
.paused {
  box-sizing: border-box;
  width: 0;
  height: 37px;

  border-color: transparent transparent transparent var(--secondary);
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 18.5px 0 18.5px 30px;

  margin: 4.625px;
}

.paused {
  border-style: double;
  border-width: 0px 0 0px 30px;
}

@media (max-width: 700px) {
  .button,
  .paused {
    height: 25px;
    border-width: 12.5px 0 12.5px 20px;
    margin: 3.125px;
  }

  .paused {
    border-width: 0px 0 0px 20px;
  }
}