.SongNotFound {
  font-size: 1.2rem;
  display: inline-block;
  width: 100vw;
  height: 50vh;
  line-height: 50vh;
  text-align: center;
  vertical-align: middle;
  color: var(--very-muted);
}

@media (max-width: 700px) {
  .SongNotFound {
    font-size: 0.62rem;
  }
}