.Header {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  color: var(--off);
  font-weight: 400;
} 

.Header p {
  font-size: 1rem;
  color: var(--muted);
  padding: 1px 2px;
  letter-spacing: 0.08rem;
}

.Header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-left: 12px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Header li :not(.selected) {
  border: 1px solid var(--secondary);
  border-radius: 3px;
}

.Header li a {
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  margin-right: 25px;
  cursor: pointer;
  color: var(--off);
}

.selected {
  border: 1px solid var(--primary);
  font-weight: bold;
  color: var(--secondary);
  border-bottom: 1px solid var(--brand-color);
}

@media (max-width: 700px) {
  .Header {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .Header ul {
    justify-content: space-around;
  }

  .Header li a {
    margin-right: 0;
  }
}