.Header {
  font-family: 'Gotham Book';
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.6rem 1rem;
  padding-bottom: 0rem;
  font-weight: 400;
}

.Header h1 {
  color: var(--off);
  padding: 0.5rem 0;
  padding-bottom: 0.4rem;
  letter-spacing: 1.1rem;
  text-align: center;
}

.header-span {
  font-size: 1rem;
}

.Header p {
  font-size: 1rem;
  color: var(--muted);
  padding: 1px 2px;
  letter-spacing: 0.08rem;
  margin-bottom: 1rem;
}

.Header-nav ul {
  align-items: center;
  display: flex;
  font-family: "Display Bold";
  font-size: 1.5rem;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  max-width: 400px;
  margin: 1.5rem auto;
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.Header-nav li :not(.selected) {
  color: var(--very-muted);
}

.Header-nav li a {
  text-decoration: none;
  margin: auto;
  font-size: 1.2rem;
  padding: 5px 10px;
  cursor: pointer;
}

.Header-nav li a:hover:not(.selected) {
  color: var(--off);
}

.selected {
  color: var(--brand-color);
  font-weight: bold;
  border-bottom: 1px solid var(--off);
}

@media (max-width: 700px) {
  .Header {
    font-size: 1rem;
    /* font-size: 0.89rem; */
  }

  .Header p {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 500px) {
  .Header-nav ul {
    margin-left: 0.4rem;
    margin-right: 0.5rem;
  }

  .Header h1 {
    margin-left: 1.5rem;
  }

  .Header-nav li a {
    font-size: 1.07rem;
  }
}