.SongDetailsCarsWrapper {
  position: fixed;
  bottom: 5%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  -webkit-backdrop-filter: blur(10px);
  /* backdrop-filter: blur(10px); */
  backdrop-filter: saturate(90%) blur(10px);
  font-size: 1.2rem;
  font-weight: 300;
  width: 500px;
  box-shadow: 2px 0px 15px 2px var(--shadow);
  border-radius: 10px;
  background: var(--gradient);
}

.SongDetailsCard {
  display: flex;
  align-items: center;
}

.SongDetailsCard__img {
  display: block;
  height: 150px;
  width: 150px;

  border-top-left-radius: 10px;
}

.SongDetailsCard__details {
  padding: 0 2rem;
  margin: auto 0;
  justify-self: center;
  line-height: 1rem;
}

.audio {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--primary);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sound-wave-icon {
  height: 50px;
  width: 50px;
  position: fixed;
  cursor: pointer;
  right: 5rem;
  bottom: 3rem;
  fill: var(--secondary);
  background-color: var(--primary);
  z-index: 9999;
  border-radius: 50%;
  box-shadow: 0 6px 20px var(--shadow);
  animation-name: sound-wave;
  animation-duration: 300ms;
}

@keyframes sound-wave {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

/* Fade in Up animation */
@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0);
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0);
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}


/* close button construction style */
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: var(--brand-color);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@media (max-width: 700px) {
  .SongDetailsCarsWrapper {
    max-width: 100% ;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0;
    border: none;
    font-size: 1rem;
    /* box-shadow: none; */
    margin: 0;
    border-radius: 0;
  }

  .SongDetailsCard__img {
    height: 100px;
    width: 100px;
    border-radius: 0;
  }

  .SongDetailsCard__details {
    padding: 0 1.5rem;
  }

  .audio {
    border-radius: 0;
  }

  .sound-wave-icon {
    height: 50px;
    width: 50px;
    right: 1rem;
    bottom: 1rem;
    fill: var(--secondary);
  }

  .close {
    right: 5px;
    top: 10px;
    opacity: 0.4;
  }

  .close:before, .close:after {
    height: 15px;
  }
}