.SongInput {
  max-width: 100%;
  margin: 0.5rem auto;
  text-align: center;
  box-sizing: border-box;
}

.SongInput input {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  width: 70%;
  padding: 10px 50px 10px 20px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  border: 2px solid var(--secondary);
  font-size: large;
  font-weight: 500;
  font-family: 'Display Medium';
  margin-top: 1.5rem;
}

.SongInput input:focus {
  outline: none;
}

.SongInput i {
  display: inline-block;
  position: relative;
  top: -2rem;
  right: -16rem;
  cursor: pointer;
}

/* search icon css */
.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px
}

.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px
}

@media (max-width: 700px) {
  .SongInput i {
    right: -8.5rem;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  .SongInput i {
    right: -15rem;
  }
}

