.track-card {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  word-break: break-all;
}

.track-card__img {
  box-shadow:  var(--track-shadow);
  height: 140px;
  width: 140px;
  border-radius: 10px;
  cursor: pointer;
}

.track-card__details {
  padding-left: 2rem;
  padding-top: 1.5rem;
  text-align: left;
  /* line-height: 0.5rem; */
}

.track-card__details-title {
  cursor: pointer;
}

.track-card__details-title {
  font-size: 1.2rem;
  color: var(--secondary);
}

.track-card__details-artist {
  font-size: 0.8rem;
  color: var(--very-muted);
}

.play-pause-icon {
  fill: var(--muted);
  margin-top: 0.5rem;
  height: 1.8rem;
  width: 1.8rem;
}

@media (max-width: 700px) {
  .track-card {
    font-size: 1rem;
  }

  .track-card__img {
    height: 100px;
    width: 100px;
  }

  .track-card__details {
    padding-left: 1rem;
    padding-top: 0.6rem;
    /* padding-top:0rem; */
  }

  .play-pause-icon {
    height: 1.5rem;
    width: 1.5rem
  }
}