@font-face {
  font-family: "Aktiv Grotesk";
  src: url("./assets/fonts/AktivGroteskCorp-Bold.woff2");
}

@font-face {
  font-family: 'Montserrat';
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  font-family: "Aktiv Grotesk";
  -webkit-font-smoothing: antialiased;
  font-size: 1.02rem;
}

:root {
  --off: #f3f3f3;
  --muted: #afafaf;
  --very-muted: #787878;;
  --brand-color: #fddb27ff;
  --primary: #010203;
  --secondary: white;
  --shadow: rgba(255, 255, 255, 0.2);
}

.make-it-yellow {
  color: var(--brand-color);
}

.small {
  display: block;
  font-size: 0.85rem;
  font-style: italic;
  color: var(--very-muted);
  text-align: left;
}