.audio-button {
  width: calc(15%);
  height: 3rem;
  margin: auto;
}

.audio-timeline-slider {
  width: 15rem;
}

.audio-timeline-slider,
.audio-timeline-slider::-webkit-slider-thumb {
  background-color: var(--secondary);
}

.audio-timeline {
  font-size: 1rem;
  width: calc(85%);
  margin: 4.625px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.audio-timeline p {
  margin-top: 0.5rem;
  padding: 0 1rem;
  font-variant-numeric: tabular-nums;
}

@media (max-width: 500px) {
  .audio-button {
    height: 1.5rem;
  }
  .audio-timeline-slider {
    width: 10rem;
  }
}